pandas==2.3.3
scikit-learn==1.7.2
matplotlib==3.10.7
seaborn==0.13.2
notebook==7.4.7
jupyter==1.1.1
paretoset==1.2.5
flaml[automl]==2.3.6
xlrd==2.0.2
openpyxl==3.1.5
pptx2md==2.0.6
scipy==1.16.3
awswrangler==3.13.0
prov[dot]==2.1.1
pydot==4.0.1
traitlets==5.14.3